.container {
  background-color:white;
  padding-right: 5%;
  padding-left: 5%;
  height: 100%;
  width: 90%;
  border-style: solid;
  border-color: 5px solid black;
}

.name{
    font-size: 30px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.details{
    font-size: 20px;
    align-content: center;

}


.basic-details,.summary, .educational-details, .professional_summary, .professional_experience{
  font-size: 20px;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
}


ul.personal-info,ul.summary, ul.education, ul.proff-summary, ul.proff-exp{
  font-size: 15px;
  list-style-type: square;

}

hr { 
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} 

