<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-4">
      <div class="name">Naga Divya Kuchi</div>
      <div class="details">
        <a href="https://www.linkedin.com/in/naga-d-ab2843173/">LinkedIn</a>
      </div>
    </div>
    <div class="col-xs-12">
      <hr />
    </div>
    <!--Basic Details-->
    <div class="col-xs-6 ">
      <div class="basic-details">BASIC DETAILS</div>
      <ul class="personal-info">
        <li>
          <p>
            <span> Name:</span> Naga Divya Kuchi
          </p>
        </li>
        <li>
          <p> <span> Location:</span> Columbus, Ohio
          </p>
        </li>
        <li>
          <p> <span> Experience:</span> 3.5 Years
          </p>
        </li>
        <li>
          <p> <span> Career Level:</span> Mid-Level
          </p>
        </li>
        <li>
          <p> <span> Phone:</span> (614) 698-8100
          </p>
        </li>
        <li>
          <p> <span> E-mail:</span> <a href="#."> kuchidivya93@gmail.com</a> </p>
        </li>
      </ul>

    </div>
    <div class="col-xs-12">
      <hr />
    </div>
  </div>
  <div class="col-xs-12">
    <div class="summary">SUMMARY</div>
    <ul class="summary">
     <li>
      3.5+ Years of strong experience in designing and developing User Interface (UI) applications as a Frontend Developer. Specializes in creating responsive web designing.
     </li>
     </ul>
  </div>
  <div class="col-xs-12">
      <hr />
  </div>
  <!---Educational Details-->
  <div class="col-xs-12">
    <div class="educational-details">EDUCATION</div>
    <ul class="education">
      <li>
        <p>
          <span>Bachelors in Computer Science, JNTU India <b>(October 2010- May 2014).</b></span>
        </p>
      </li>
      <li>
        <p>
          <span>Masters in Information Technology and Management, Campbellsville University <b>(Oct 2017- March 2019)</b> and graduated with <b>4.0 GPA.</b></span>
        </p>
      </li>
    </ul>
  </div>
  <div class="col-xs-12">
    <hr />
  </div>
  <!--Professional Summary-->
  <div class="col-xs-12">
    <div class="professional_summary">SKILLS</div>
    <ul class="proff-summary">
      <li>
        <p>
          <span>Extensive experience in designing responsive UI/Web applications using front-end technologies like HTML5, CSS3, AngularJS, Angular2, Angular4, JavaScript, jQuery, AJAX, XML, JSON, Typescript, Git, Bower, Gulp, Jasmine and Karma.</span>
        </p>
      </li>
      <li>
        <p>
          <span>Experience of using React JS for building reusable UI components in client side.</span>
        </p>
      </li>
      <li>
        <p>
          <span>Experience working with version control tools such as Stash, Bit bucket.</span>
        </p>
      </li>
      <li>
        <p>
          <span>Ability to learn and adapt quickly to the emerging new technologies.</span>
        </p>
      </li>
      <li>
        <p>
          <span>Experience in all phases of SDLC like Requirement Analysis, Implementation and Maintenance and extensive experience with Agile and SCRUM managed in JIRA. </span>
        </p>
      </li>
      <li>
        <p>
          <span>Developed client side validations and also used ES5 and ES6 patterns in JavaScript.</span>
        </p>
      </li>
      <li>
        <p>
          <span>Developed multiple Angular JS controllers and configured Routes. Applied AngularJS client-side Validation by using HTML5 attributes and AngularJS Form states and input states. </span>
        </p>
      </li>
      <li>
        <p>
          <span>Experience in developing reusable components and implemented form validations using Angular 7 in personal projects.</span>
        </p>
      </li>
      <li>
        <p>
          <span>Worked on services to consume REST API’s using Component based architecture provided by Angular.</span>
        </p>
      </li>
      <li>
        <p>
          <span>Worked on the backend by using Node JS, Express JS and Mongo DB.</span>
        </p>
      </li>
      <li>
        <p>
          <span>Knowledge in CSS pre-processors like LESS and SASS to write the clean CSS. </span>
        </p>
      </li>
      <li>
        <p>
          <span>Knowledge on integrating ARIA Labels in HTML/Template Part and made sure the screen readers who are using NVDA/JAWS/MAC voice over met the WCAG/ADA standards.  </span>
        </p>
      </li>
      <li>
        <p>
          <span>Strong problem-solving, organizing, communication and planning skills, with ability to work in team environment and Good written and oral communication skills and Interpersonal skills with a strong ability to excel through collaboration with team members.</span>
        </p>
      </li>
      <li>
        <p>
          <span>Possess a very good communication skill with clients, customers, managers and other teams in the enterprise at all levels.</span>
        </p>
      </li>
      <li>
        <p>
          <span>Experience with Firebug for Mozilla, Developer Tools for Chrome and IE Developer Toolbar for Internet Explorer.</span>
        </p>
      </li>
      <li>
        <p>
          <span>Experience in developing Chatbots and developed Chatbots about Weather Forecast to fetch weather details of a location.</span>
        </p>
      </li>
      <li>
        <p>
          <span>Worked on different types of tasks in Chatbots like Dialog Tasks, Knowledge Tasks, Alert Tasks, Information Tasks and Action Tasks.</span>
        </p>
      </li>
      <li>
          <p>
            <span>Volunteered for couple of non-profit organizations as a Web Admin using Word Press.</span>
          </p>
        </li>
    </ul>
  </div>
  <div class="col-xs-12">
    <hr />
  </div>
  <div class="col-xs-12">
    <div class="professional_experience">Professional Experience</div>
    <ul class="proff-exp">
      <li>
        <p>
          <span><b>Client: MagikMinds Software Services Pvt Ltd</b></span>
        </p>
      </li>
      <li>
        <p>
          <span><b>June 2014 - Sep 2016</b></span>
        </p>
      </li>
      <p>
          MagikMinds is recognized as a strong GE Small world competency center, richly endowed with domain expertise in E2E implementations. This organization is greatly benefited by the strong backgrounds in IT and GIS of our expert team who has profound experience in Small world product suite, other GIS-enabling technologies and Advanced Web and Mobile Applications
      </p>
      <!---Most recent project in MagikMinds MMconnect-->
      
      <h5><b>Project: MM Connect</b> </h5>
      <p>MM Connect is an internal web application.MM Connect is a collaboration of multiple applications which acts as a common place to access multiple internal applications. Major applications like 'MM Repository’, ‘MM Resume Builder’, ‘MM Asset Tracker'. MM Repository is an application to effectively share the organizational documents between the associates. MM Resume Builder is an application used to build our own resume effectively based on a common template.</p>

      <h5><b>Project: Network Viewer Customization</b></h5>
      <p>Small world Network Viewer provides a browser-based interface that is designed to be familiar and intuitive for business users who are not specialists in GIS. It provides a responsive look and feel using familiar web mapping technology, combined with visualization of the network assets and the ability to search the Small world held GIS data so that asset information and customer locations can be easily explored through the user interface.</p>
      <h5><b>Responsibilities</b></h5>
      <ul class="responsibilities">
        <li>
          <p>
            <span>Developed applications using AngularJs along with HTML5, CSS3, Type Script, Java Script, Bootstrap, NodeJs and Mongo DB.</span>
          </p>
        </li>
        <li>
          <p>
            <span>Involved in entire SDLC from requirement gathering to implementation and understanding business requirements and worked closely with business teams.</span>
          </p>
        </li>
        <li>
          <p>
            <span>Initiated code migration from AngularJs to Angular 2 for better performance of application.</span>
          </p>
        </li>
        <li>
          <p>
            <span>Maintain, enhance, and recommended solutions that are best suitable for business and technology needs from UI standpoint.</span>
          </p>
        </li>
        <li>
          <p>
            <span>Worked Closely with Clients from gathering requirements to deployment and maintenance.</span>
          </p>
        </li>
        <li>
          <p>
            <span>Used Angular JS to create a Single Page Applications (SPA) and developed cross browser/multi browser compatible applications using HTML, CSS and JavaScript. </span>
          </p>
        </li>
        <li>
          <p>
            <span>Involved in peer-to-peer code reviews using Bit bucket and in SCRUM meetings to keep track of the on-going project status and issues using JIRA and followed AGILE methodologies.</span>
          </p>
        </li>
        <li>
          <p>
            <span>Responsible for developing reusable components using Custom Directives in Angular JS.</span>
          </p>
        </li>
        <li>
          <p>
            <span>Worked on unit tests and maintained 90% of unit test coverage using Jasmine and Karma.</span>
          </p>
        </li>
        <li>
          <p>
            <span>Used Aria attributes in Template part to maintain WCAG/ADA standards.</span>
          </p>
        </li>
      </ul>
      
      
     
    </ul>
    <ul class="proff-exp">
      <li>
        <p>
          <span><b>Client: Sagitta Software Technologies Limited.</b></span>
        </p>
      </li>
      <li>
        <p>
          <span><b>June 2013- June2014</b></span>
        </p>
      </li>
     
      <!---Most recent project in Sagitta Software-->
      
      <h5><b>Project: Management Information System</b> </h5>
      <p>MIS is a web-based application designed and developed to automate and manage the operational processes followed by Sagitta Software Technologies. Process Documentation is integrated in to the application for easy access to the employees. It helps in managing and maintaining resource data at centralized location with authorized access to it. The various modules of the projects are Client Management, Project Management, Resource Management, Bugs Tracking, Documents Management, and Payroll Management, Leaves and Timesheets and other activities within the company.</p>
      <h5><b>Responsibilities</b></h5>
      <ul class="responsibilities">
        <li>
          <p>
            <span>Involved in entire SDLC from requirement gathering to implementation.</span>
          </p>
        </li>
        <li>
          <p>
            <span>Understanding business requirements and worked on designing and preparing corresponding Functional Requirement Document (FRD) and Technical Design Document (TDD).</span>
          </p>
        </li>
        <li>
          <p>
            <span>Developed Wire frames/ Prototype using HTML, CSS, and JavaScript to represent the complete system look and feel for customer approval</span>
          </p>
        </li>
        <li>
          <p>
            <span>Implemented UI Layer using the technologies like HTML, CSS and JavaScript</span>
          </p>
        </li>
        <li>
          <p>
            <span>Created the database and developed the scripts for inserting the master data required for the application, scripts for cleanup of the test data.</span>
          </p>
        </li>
      </ul>
    </ul>
  </div>
</div>