.user-info {
  align-items: center;
  margin: auto;
}

.container {
  width: 100%;
  height: 100%;
}

.header-info {
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
}

input.ng-invalid.ng-touched {
  border: 2px solid #ED4337;
}

.form-fields {
  margin-top: 12%;
}

.input-boxes {
  min-height: 60px;
  max-width: 500px;
  margin-top: 30px;
}

.submit-button {
  margin-top: 40px;
  min-width: 153px;
  width: 30%;
  max-width: 350px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}