<div class="user-info">
  <div class="container">
      <!--String Interpolaton where the getservername is returning some value from the Typescript file without hardcoding-->
    <div class="header">
       <h2 class="header-info">{{ getservername() }}</h2>
    </div>
    <hr />
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <form (ngSubmit)= "onSubmit(f)" #f="ngForm" class="form-fields">
          <div class="form-group">
            <input 
              type="text" 
              class="form-control center-block input-boxes"
              name="firstname" 
              ngModel
              placeholder="Enter Your Name" 
              #firstname=ngModel
              required
            >
          </div>
          <div class="form-group">
            <input 
              type="text"
              class="form-control center-block input-boxes" 
              name="phonenum" 
              ngModel 
              placeholder="Enter Your Phone Number" 
              #phonenum=ngModel
              pattern="^\d{3}\d{3}\d{4}$"
              required
            >
          </div>
          <div class="form-group">
            <input 
              type="email" 
              class="form-control center-block input-boxes" 
              name="email" 
              ngModel 
              placeholder="Enter Your Email Address" 
              required
              email
              #email=ngModel
            >
          </div>
          <button class="btn btn-info btn-lg center-block submit-button" type= "submit" [disabled]= "!f.valid" [routerLink]="['/resume']">Check Resume</button>
        </form>
      </div>
    </div>
    <div class="footer">
      <p>&copy; Naga Divya Kuchi<p>
    </div>
  </div>
</div>
